[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 5173

[context.production]
  environment = { VITE_API_BASE = "https://instagram-clone-api.onrender.com" }

[context.deploy-preview]
  environment = { VITE_API_BASE = "https://instagram-clone-api.onrender.com" }

[context.branch-deploy]
  environment = { VITE_API_BASE = "https://instagram-clone-api.onrender.com" }
